{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-lg bg-light rounded w-50 mx-auto">
        <h2 class="mb-3 text-center text-primary">Patient Login</h2>
        
        <form method="POST" action="{% url 'login' %}?next={% url 'patient_dashboard' %}">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            
            <button type="submit" class="btn btn-success w-100">Login</button>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'register' %}" class="btn btn-outline-primary">Register as Patient</a>

        </div>
    </div>
</div>
{% endblock %}
